:root.theme-dark {
  --title-color: #FF0070;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --bigest-title-color: #DB00FF;
  --menu-color: rgb(255, 0, 112);
  --subtitle-color: #000028;
  --menu-hover-color: rgb(255, 0, 112, 0.4);
  --decorated-zone-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
}

.theme-dark .page {
  .header__decorated-corner {
    display: block;
  }
}
